<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Header</title>
<style media="screen" type="text/css">

h1 {
	text-indent: -9999px;   
	background:#FBF8F8;             
    background:url("../header/images/logo.png") no-repeat center top;  
    height: 70px; 
	width:300;                      
    white-space: nowrap; 
	       
}
nav{
	background:#3D2D51;
	width:150px;
	height:60px;
	position:relative;
	top:-89px;
	left:900px;
	
	}
a{
	font-family: Helvetica, Arial, sans-serif;
	color:white;
	text-transform:uppercase;
	text-decoration:none;
	position:absolute;
	top:30%;
	left:5%;
	}
</style>
</head>

<body>
  <header>
  	<h1>  Candence & Cause</h1>
    <nav><a href=""> Sign in / Sign up</a></nav>
  </header>
</body>
</html>
