<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Aside</title>
</head>

<body>
<article>
<p>Om bracelet - Cord Bracelet with a gold tone Om charm - ॐ (The Om id a Hindu Symbol of the Absolute). The cord is turquoise and made of wax and the charm is antique gold tone (zinc alloy metal). Closure: clasp. You can request a different cord color from the colors shown in the last picture.

The bracelet is 6 1/2" (16cm) long plus a 1 1/2" (4cm) extension. If you would like a different length let us know and we will make it for you. 

This bracelet is minimalist and combines antique design, soft touch, and casual materials, blending into an elegant simplicity. 

This bracelet is great as a gift for a woman, man or a girl. 
All of our jewelry comes wrapped and ready for gift giving!

For more similar items and different colors visit our store:</p>
<a href="http://www.etsy.com/shop/ShaniAndAdi">"http://www.etsy.com/shop/ShaniAndAdi"</a>
<h2>Meet <span>the </span>owner <span>of </span>ShaniAndAndi.</h2>
<a href="../..">Learn more about the shop and process.</a>
<br>
<br>
<img src="../.." alt="owners picture"/>
<h3>Shani and Adi</h3>

</article>
<aside>
<section>
<img src="../.." alt="owners picture"/>
<h1>ShaniAndAdi</h1>
<p class="sub">in Israel</p>
<img src="../..." alt="image of product"/>
<p class="title">Karma bracelet,beige</p>
<p class="price">$158.48 MXN</p>
</section>

<section>
<img src="../.." alt="owners picture"/>
<h1>ShaniAndAdi</h1>
<p class="sub">in Israel</p>
<img src="../..." alt="image of product"/>
<p class="title">Karma bracelet,beige</p>
<p class="price">$158.48 MXN</p>
</section>
<section>
<img src="../.." alt="owners picture"/>
<h1>ShaniAndAdi</h1>
<p class="sub">in Israel</p>
<img src="../..." alt="image of product"/>
<p class="title">Karma bracelet,beige</p>
<p class="price">$158.48 MXN</p>
</section>
<section>
<img src="../.." alt="owners picture"/>
<h1>ShaniAndAdi</h1>
<p class="sub">in Israel</p>
<img src="../..." alt="image of product"/>
<p class="title">Karma bracelet,beige</p>
<p class="price">$158.48 MXN</p>
</section>
<section>
<img src="../.." alt="owners picture"/>
<h1>ShaniAndAdi</h1>
<p class="sub">in Israel</p>
<img src="../..." alt="image of product"/>
<p class="title">Karma bracelet,beige</p>
<p class="price">$158.48 MXN</p>
</section>
<section>
<img src="../.." alt="owners picture"/>
<h1>ShaniAndAdi</h1>
<p class="sub">in Israel</p>
<img src="../..." alt="image of product"/>
<p class="title">Karma bracelet,beige</p>
<p class="price">$158.48 MXN</p>
</section>
</aside>
</body>
</html>
