<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Navigation</title>
</head>

<body>
<header>
</header>
  <nav>
  	<ul>
       <li><a href="../man">MAN</a></li>
       		<ul>
              <li><a href="../emporio">EMPORIO ARMANI</a></li>
              <li><a href="../eA7">EA7</a></li>
              <li><a href="../colezzioni">ARMANI COLLEZIONI</a></li>
              <li><a href="../jeans">ARMANI JEANS</a></li>
        	</ul>
         <li><a href="../woman">WOMAN</a></li>
         <li><a href="../kids">KIDS</a></li>
         <li><a href="../bags">BAGS AND SHOES</a></li>
         <li><a href="../acc">ACCESSORIES</a></li>
         <li><a href="../brand">BRRAND</a></li>
         <li><a href="../prive">PRIVE</a></li>
         <li><a href="../ARMANI">ARMANI/SILOS</a></li>
         <li><a href="../ATRIBUTE">#ATRIBUTE</a></li>
         <li><a href="../LIVE">A/LIVE</a></li>
  	</ul>
  </nav>

</body>
</html>
