<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Footer</title>
</head>

<body>
<footer>

<div class="col-left"
<p>Academics and Admissoions</p>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</div>
<div class="col-left" >
<p>Academics and Admissoions</p>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</div>
<div class="col-left" >
<p>Academics and Admissoions</p>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</div>
<div class="col-left" >
<p>Academics and Admissoions</p>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</div>
<div class="col-left" >
<p>Academics and Admissoions</p>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</div>
<section>
<p>Legal/Accreditation | Your privacy Rights | Consumer Disclosures | Net Price Calculator
</section>
</footer>
</body>
</html>
