<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Footer</title>
<style media="screen" type="text/css">


article{
	float:left;
	width:180px;
	margin: 10px;
	
	}
p{
	position:relative;
	top:0px;
	color:rgba(250,245,245,1.00);
	
	
	}
	

	
	background-color:rgba(87,99,82,1.00)}
h1{
	
	color:rgba(250,245,245,1.00);
	border-bottom:2px solid rgba(0,0,0,1.00);
	}
li{
	color:rgba(250,245,245,1.00)
	
	}
	section{
	margin: 0 auto;
	background-color:rgba(118,133,105,1.00);
	}
</style>
</head>

<body>
<footer>

<section>
<article>
<h1>Academics and Admissoions</h1>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</article>
<article>
<h1>Academics and Admissoions</h1>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</article>
<article>
<h1>Academics and Admissoions</h1>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</article>
<article>
<h1>Academics and Admissoions</h1>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</article>
<article>
<h1>Academics and Admissoions</h1>
<ul>
<li>Home</li>
<li>Programs</li>
<li>Admissions</li>
<li>International</li>
<li>Military</li>
<li>High school students</li>
<li>Financial Aid</li>
<li>Career Development</li>
</ul>
</article>

<p>Legal/Accreditation | Your privacy Rights | Consumer Disclosures | Net Price Calculator</p>

</section>
</footer>
</body>
</html>
