<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Contact</title>

</head>

<body>
<header>
<img src="../../" alt="logo"/>
</header>
<nav>
<ul>
<li>Process</li>
<li>Case Studies</li>
<li>About Us</li>
<li>Careers</li>
<li class="selected">Contact</li>
</ul>
</nav>
<form>
<input type="text" name="name" size="50" placeholder="FULL NAME*"/>
<br>
<input type="email" name="mail" size="50" placeholder="EMAIL ADDRESS*"/>
<br>
<input type="text" name="mail" size="20" placeholder="PHONE"/>
<input type="text" name="mail" size="20" placeholder="COMPANY*"/>
<br>
<textarea name="message" cols="50" rows="5" placeholder="MESSAGE*"></textarea>
<br>
<button>send message</button>
</form>
<table>
<colgroup>
<col>
<p class="title">Mountain view</p>
<p>320 Mountain view Ave.<br>
Mountain View CA 94041</p>
</col>
<col>
<p class="title">New York</p>
<p>104 West 40th St.<br>
New York, NY 10018</p>
</col>
<col>
<p class="title">Chicago</p>
<p>605 N. Michigan Ave.<br>
Chicago IL 60611</p>
</col>
</colgroup>
</table>


</body>
</html>
