<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>

<body>
<article>
<h2>Create an account</h2>
<form>
<input  type="text" name="fname" placeholder="First name*"/>
<br>
<input  type="text" name="lname" placeholder="Last name*"/>
<br>
<input  type="email" name="email" placeholder="E-mail*"/>
<br>
<input  type="password" name="password" placeholder="Password*"/>
<br>
<input  type="password" name="password" placeholder="Confirm your password*"/>
<br>
<button>GO TO THE GAME<br></button>

<a href="../..">You already have an account?</a>
<p>*required fields</p>
</form>
</article>
</body>
</html>
